#header {
    padding: 1em;
    text-align: center;
}

span {
    font-weight:bold;
}

button {
    border-radius: 4px;
    background-color: #555555;
    /* Green */
    border: none;
    color: white;
    padding: 3px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

button:hover {
    background-color: lightgrey;
    color: black;
}

input[type=text] {
    width: 75%;
    max-width: 300px;
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    text-transform: uppercase;
}

table {
    margin-left: auto;
    margin-right: auto;
  }

#result {
    font-size: 14;
    font-weight: bold;
}  
.valid {
    color: green;
}

.invalid {
    color: red;
}

#top, #bottom, #left, #right {
	background: darkgrey;
	position: fixed;
	}
#left, #right {
		top: 0; 
        bottom: 0;
		width: 15px;
		}
#left { left: 0; }
#right { right: 0; }		
#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
#top { top: 0; }
#bottom { bottom: 0; }
